Flask==3.0.0
Flask-Cors==4.0.0
Werkzeug==3.0.1
opencv-python-headless==4.8.1.78
numpy
paddlepaddle
paddleocr
transformers
torch
ultralytics
mysql-connector-python==8.2.0
mtcnn==0.1.1
pillow==10.1.0
python-dotenv==1.0.0
spacy==3.7.2
pydantic==2.5.2
